<?xml version="1.0" encoding="UTF-8"?>

<plugin xmlns="http://apache.org/cordova/ns/plugins/1.0"
        xmlns:android="http://schemas.android.com/apk/res/android"
        id="cordova-admob-sdklibs"
        version="2.2.0">
      
    <name>Google Mobile Ads SDK for Cordova</name>
    <description>Add Google Mobile Ads SDK to Cordova project, as dependency for other plugins</description>
    <author>Google</author>
    <repo>https://github.com/MrRobWad/cordova-admob-sdklibs.gitt</repo>
    <issue>https://github.com/MrRobWad/cordova-admob-sdklibs/issues</issue>

    <engines>
        <engine name="cordova" version=">=3.0" />
    </engines>

    <platform name="android">
        <!-- for gradle -->
        <framework src="com.google.android.gms:play-services-base:+" />
        <framework src="com.google.android.gms:play-services-ads:+" />
        <!-- for ant -->
        <!--dependency id="cordova-plugin-googleplayservices"/ -->
     </platform>

</plugin>
